@import "src/styles/variables.scss";

.App {
  text-align: center;

  &_header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 3px solid $text-color;
  }

  &_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area: 1 / 2 / 1 / 5;
    padding-top: 50px;
  }
  &_logo_light {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 20px;
    width: 100px;
    z-index: 1;
    background-color: $white;
  }
  &_logo_dark {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 20px;
    width: 100px;
    z-index: 0;
    background-color: $dark-mode;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
  font-family: $heading-font;
}

.logo {
  width: 100px;
}
