@import "src/styles/variables.scss";

.App {
  text-align: center;

  &_header {
    display: flex;
    border-bottom: 1px solid $text-color;
  }
  &_logo {
    padding-left: 20px;
    width: 100px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
