@import "src/styles/variables.scss";

.eonet {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_title {
    font-family: $heading-font;
  }
  &_button {
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: white;
    border-color: $black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: $black;
    font-family: $text-font;
    font-size: 12px;
    font-family: $text_font;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  &_button:hover {
    color: white;
    background-color: black;
  }
}
