@import "src/styles/variables.scss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  background-color: $dark-mode;
  color: $white !important;
}

.App_header.dark {
  border-bottom: 3px solid $white !important;
}
