@import "src/styles/variables.scss";

.Landing {
  &_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
  }

  &_video {
    border-radius: 4px;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
}
