@import "src/styles/variables.scss";

.Landing {
  &_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 600px;
    background-image: linear-gradient(
      90deg,
      rgba(46, 64, 87, 0.55),
      rgba(11, 61, 145, 0.55),
      rgba(252, 61, 33, 0.55)
    );
  }

  &_hero > h1 {
    color: #fff;
    font-size: 40px;
    font-family: $heading-font;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    letter-spacing: 16px;
  }

  &_video {
    z-index: -1;
    border-radius: 4px;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  &_para_beginning {
    font-size: 28px;
  }

  &_content {
    padding-top: 60px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 70%;
    color: $text-color;
  }
  &_content > p {
    font-family: $text-font;
    font-size: 22px;
    line-height: 26px;
  }
  &_content > h2 {
    font-family: $text-font;
    font-size: 22px;
  }
}
.apod_link {
  color: $secondary-color;
}
