@import "src/styles/variables.scss";

.Search {
  font-family: $text_font;
  font-size: 18px;
  padding-top: 30px;
  color: $text-color;

  &_container {
  }
  &_heading {
    font-family: $heading_font;
    margin-bottom: 40px;
    font-size: 40px;
  }

  &_box {
    width: 100px;
  }

  &_form {
    padding-bottom: 30px;
  }
  &_form > label > input {
    margin-left: 10px;
  }
  &_button {
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: white;
    border-color: $black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: $black;
    font-family: $text-font;
    font-size: 12px;
    font-family: $text_font;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  &_button:hover {
    color: white;
    background-color: black;
  }
}

input[type="search"] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
  width: 20%;
}
