@import "src/styles/variables.scss";

.container {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  max-height: 51px;
  overflow: hidden;
  transition: all 3s ease;
  margin-bottom: 40px;
  border-radius: 9px;
  -webkit-box-shadow: 2px 10px 32px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 2px 10px 32px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 2px 10px 32px 0px rgba(0, 0, 0, 0.85);
  &_body {
    position: relative;
  }

  &_icon {
    font-size: 50px;
  }

  &_button {
    margin-left: 10px;
  }

  &_icon:hover {
    cursor: pointer;
  }
  &_explanation {
    padding-top: 20px;
    width: auto;
    font-family: $text-font;
    font-size: 18px;
  }
  &_image {
    width: 500px;
    object-fit: cover;
  }

  &_iframe {
    max-height: auto;
    width: 400px;
    border-radius: 8px 8px 0px 0px;
  }
  &_title {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0px 0px 8px 8px;
  }
}

.active {
  max-height: 1000px;
}

// .container:hover {
//   max-height: 1000px;
// }
