@import url("https://fonts.googleapis.com/css?family=Spectral&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$primary-color: #0b3d91;
$secondary-color: #fc3d21;
$accent-color: #a2a7a5;
$text-color: #2e4057;
$dark-mode: #292929;
$white: #fff;
$black: rgb(0, 0, 0);
$text-font: "Spectral", serif;
$heading-font: "Raleway", serif;
